<section class="halfpanel grid-container">
    <div class="halfpanel-content row">
        <div class="col-12 col-md-4">
            <img src="https://picsum.photos/id/40/280/280" alt="">
        </div>
        <div class="col-12 col-md-7">
            <h2>Lorem ipsum dolor sit.</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, iusto?</p>
        </div>
    </div>
</section>