.halfpanel{
    display: flex;
    align-items: center;
    height: 90vh;
    justify-content: center;
    background-color: @primary-background-color;
    div{
        display: flex;
        gap: 1rem;
        div{
            display: flex;
            flex-direction: column;
        }
    }
}

.halfpanel-content{
    padding: 1rem;
    background-color: aqua;
}